{
	"env": {
		"es6": true
	},
	"rules": {
		"no-plusplus": "off",
		"no-use-before-define": "off",
		"indent": ["error", "tab"],
		"import/extensions": ["error", "ignorePackages", {"ts": "never"}]
	},
	"plugins": ["@typescript-eslint"],
	"settings": {"import/resolver": {"node": {"extensions": [".ts"]}}},
	"extends": ["graph-base", "plugin:@typescript-eslint/recommended"]
}
