@import './colors.scss';
@import './media-queries.scss';

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	@media #{$tablet-small} {
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(122.76deg, $pink-light 4.09%, $pink 91.04%), $white;
	}
}

.calc {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
	padding: 15px;
	font-family: 'Geometria', sans-serif;
	background: linear-gradient(155.23deg, $blue 0%, $blue-light 100%);
	box-shadow:
		0 82px 158px rgba(133, 107, 107, .35),
		0 24.7206px 47.6324px rgba(0, 0, 0, .228056),
		0 10.2677px 19.7841px rgba(0, 0, 0, .175),
		0 3.71362px 7.1555px rgba(0, 0, 0, .121944);
	color: $white;

	@media #{$tablet-small} {
		width: auto;
		height: auto;
		padding: 45px;
		padding-top: 16px;
		border-radius: 18px;
	}

	&__hidden-input {
		padding: 0;
		opacity: 0;
		height: 0;
		border: none;
	}

	&__top {
		display: flex;
		flex-direction: column;
		border-bottom: 2px solid rgba(255, 255, 255, .35);

		@media #{$tablet-small} {
			max-width: 440px;
			overflow: hidden;
		}
	}

	&__input {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;

		&_in {
			height: 117px;
			margin-bottom: 30px;
			font-weight: 500;
			font-size: 24px;
			line-height: 32px;

			@media #{$tablet-small} {
				height: 100px;
			}
		}

		&_out {
			height: 50px;
			margin-bottom: 18px;
			font-weight: bold;
			font-size: 18px;
			line-height: 84px;

			@media #{$tablet-small} {
				height: 76px;
				font-size: 56px;
				line-height: 80px;
			}
		}

		&_error {
			font-size: 18px;
			line-height: 24px;

			@media #{$tablet-small} {
				font-size: 24px;
				line-height: 40px;
			}
		}
	}

	&__bottom {
		margin-top: 40px;
	}

	&__bottom-wrapper {
		display: flex;
		flex-direction: column;
		margin: -16px 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 16px -15px;

		@media #{$tablet-small} {
			margin: 16px -20px;
		}
	}

	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		margin: 0 15px;
		padding: 0;
		border: 0;
		border-radius: 50%;
		font-weight: 500;
		font-size: 18px;
		line-height: 38px;
		font-family: 'Geometria', sans-serif;
		background: transparent;
		color: $white;
		cursor: pointer;

		@media #{$tablet-small} {
			width: 80px;
			height: 80px;
			font-size: 36px;
			line-height: 88px;
			margin: 0 20px;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 50%;
			background-color: $white;
			opacity: .12;
		}

		&:hover:before {
			z-index: 1;
		}

		&:focus {
			outline: none;
		}

		&_result {
			background-color: $white;
			color: $blue-bright;
		}
	}

	&__frame {
		@media #{$tablet-small} {
			content: '';
			position: absolute;
			z-index: -1;
			left: -30px;
			top: -40px;
			width: calc(100% + 60px);
			height: calc(100% + 80px);
			background: $white;
			opacity: .2;
			backdrop-filter: blur(4px);
			border-radius: 18px;
		}
	}
}
